@import "./src/styles/index";

.home-page{
  width: 100%;
  height: 100vh;
  position: relative;
}
.title{
  position: absolute;
  right: 10%;
  top: 10%;
  strong{
    font-size: 72px;
    font-weight: 700;
  }
  span{
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 500;
    margin-left: -15px;
  }
}
.map{
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 60%;
}
