@import "./src/styles/index";

.main-room {
  background: $color-delta;
  min-height: 100vh;
  .logo {
    margin-left: 40%;
  }
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.games {
  width: calc(100% - 400px - 20%);
  text-align: center;
  @include breakpoint-to($laptop-1300){
    width: calc(100% - 400px - 5%);
  }
  .controls {

  }
}

.active-games{

}
