@import "./src/styles/index";

.waiting-room{
  min-height: 100vh;
  background: $color-delta;
  text-align: center;
}
.container{
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: flex-start;
}
.players{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .player{
    width: 30%;
    margin-bottom: 20px;
  }
}
