// Colors
$color-alpha: #2C3333;
$color-beta: #395B64;
$color-gama: #A5C9CA;
$color-delta: #E7F6F2;
$color-white: #ffffff;
$color-grey-100: #eeeeee;
$color-grey-200: #c9c9c9;
$color-grey-400: #ababab;
$color-grey-600: #797979;
$color-grey-800: #525252;
$color-black: #0f1111;
$color-error: #ec4040;
// Player colors
$player-white:#eeeeee;
$player-green:#3f8c57;
$player-red:#ec4646;
$player-blue:#3f698c;
$player-yellow:#c9b845;
$player-black: #3d3939;
// Spacings
// Texts
