@import "../../../styles/index";

.chat{
  background: $color-gama;
  padding: 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .history{
    width: 100%;
    border-radius: 4px;
    background: $color-delta;
    min-height: 20px;
    flex:1;
    .message{
      font-size: 14px;
      color: $color-alpha;
      line-height: 1.3;
      margin: 4px 0;
      text-align: left;
      padding-left: 20px;
      overflow-y: auto;
      strong{
        margin-right: 10px;
        text-transform: capitalize;
      }
    }
  }
  .form{
    width: 100%;
    border-radius: 4px;
    background: $color-delta;
    height: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    .input{
      flex:1;
      border: none;
      line-height: 20px;
      background: transparent;
      font-size: 14px;
      padding-left: 20px;
      &:focus{
        outline:none;
      }
    }
    .button{
      width: 120px;
      line-height: 20px;
      height: 22px;
      margin-right: 5px;
    }
  }
}
