@import "../../../styles/index";

.modal{
  width: 600px;
  background: $color-alpha;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}
.close{
  width: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.title{
  font-size: 20px;
  font-weight: 500;
  color: $color-white;
  text-align: center;
}
.button{
  width: 300px;
  margin: auto;
  margin-top: 20px;
}
.input{
  margin: auto;
  margin-top: 20px;
  width: 300px;
}
.error{
  color: $color-error;
  font-size: 14px;
  margin-top: 10px;
}
