@import "../../../styles/index";

.background{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .25);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}
.modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100px;
  min-height: 100px;
  background: $color-alpha;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 35px 15px rgba(0,0,0, .25);
  z-index: 10;
}
