@import "../../../styles/index";

.layout{
  background: $color-white;
  padding: 10px;
}
.modal{
  background: $color-white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $color-black;
  font-weight: 700;
  text-align: center;
  .icon{
    width: 60px;
    margin: 0 10px;
  }
}
.text{
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}
.controls{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  .increment{
    width: 50px;
    height: 20px;
    border-left: 50px solid $color-black;;
    border-right: 50px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
  }
  .decrement{
    width: 50px;
    height: 20px;
    border-right: 50px solid $color-black;;
    border-left: 50px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
  }
  .amount{
    font-size: 24px;
    font-weight: 700;
    margin: 0 15px;
  }
}
.button{
  width: 200px;
  background: $color-black;
  color: $color-white;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  margin: 20px auto 0;
  user-select: none;
  cursor: pointer;
}
