@import "../../../styles/index";

.text-input{
  width: 100%;
  .input{
    width: 100%;
    background: $color-white;
    border: 2px solid $color-alpha;
    border-radius: 6px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    &::placeholder{
      color: $color-gama;
      font-size: 16px;
      font-weight:400;
    }
    &:focus{
      outline:none;
    }
  }
}
