@import "../../../styles/index";

.text-input{
  width: 100%;
  position: relative;
  .input{
    width: 100%;
    background: $color-white;
    border: 2px solid $color-alpha;
    border-radius: 6px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    &::placeholder{
      color: $color-gama;
      font-size: 16px;
      font-weight:400;
    }
    &:focus{
      outline:none;
    }
    &--error{
      border: 2px solid $color-error!important;
    }
  }
  .error{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    transform: translateY(110%);
    color: $color-error;
    text-align: left;
    margin-top: 4px;
  }
}
