@import "../../../styles/index";

.container{
  position: absolute;
  right: 20px;
  top: 50%;
  height: 100px;
}

.continent{
  margin-bottom: 10px;
  .name{
    font-size: 18px;
    font-weight: 300;

  }
  .reward{
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;
  }
}
