@import "../../../styles/index";

.players-list{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.player{
  position: relative;
  width: 150px;
  height: 40px;
  background: $color-grey-200;
  margin-right: 50px;
  padding-left: 40px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  border-right: 6px solid #d04d41;
  transition: .2s;
  &--active{
    transform: scale(1.15);
  }
  .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $color-grey-600;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .title{
    font-size: 12px;
    color: $color-black;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 4px;
  }
  .name{
    font-size: 16px;
    text-transform: capitalize;
    color: $color-black;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 2px;
  }
  .armies{
    display: none;
  }
}
