@import "../../../styles/index";

.modal{
  width: 400px;
  background: $color-alpha;
  border-radius: 8px;
  padding: 30px;
}
.row{
  display: flex;
}
.title{
  font-size: 16px;
  color: $color-white;
  font-weight: 500;
}
.button{
  width: 140px;
  margin: 20px;
}
